* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0D0E12;
}

.background-image {
    height: 100vh;
    background-image: url(images/Untitled\ design\ \(5\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background {
    width: 100%;
    height: 100vh;
    /* background-color: rgb(197, 197, 197); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-video {
    /* height: 80vh; */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.portfolioLogo {
    height: 100px;
}

.portfolioLogo-img {
   
    align-items: center;
    /* margin-right: 2%; */
    /* background-color: blue; */
}

nav {
    position: relative;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    color: white;
    height: 100%;
    padding: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav li:first-child {
    margin-right: auto;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    /* padding: 25px 0; */
    z-index: 999;
    background-color: rgb(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    padding: 50px 50px;
    /* gap: 25px; */
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar a {
    width: 100%;
    color: white;
}

.sidebar li {
    width: 100%;

}

nav a:hover {
    color: blue;
}

.colose-btn {
    height: 35px;
    margin-left: 75%;
}

.menu-btn {
    height: 65px;
    padding-top: 25px;
}

.home-text {
    color: white;
    text-align: start;
    padding: 8% 10%;
    margin-top: 50px;
    /* width: 80%;
    background-color: aqua;
    z-index: 5; */
}

.home-text h1 {
    display: block;
    font-size: 40px;
    font-weight: 900;
    color: #757277;
}

.home-text p {
    font-size: 19px;
    font-weight: bold;
}

.multiText {
    color: blue;
    text-transform: capitalize;
}

.home-text h4 {
    font-size: 35px;
    font-weight: bold;
}

.home-text h2 {
    font-size: 56px;
    font-weight: bold;
}

.home-text span {
    font-size: 33px;
    font-weight: bold;
    text-decoration: none;
}

.contact {
    text-align: center;
    margin-top: 12%;
}

.contact-btn {
    width: 190px;
    height: 60px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: blue;
    display: inline-block;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 5px blue, 0 0 25px blue;
    transition: box-shadow 0.25s;
}

.contact-btn:hover {
    background: blue;
    box-shadow: 0 0 5px blue, 0 0 25px blue, 0 0 50px blue, 0 0 100px blue, 0 0 200px blue;

}

.icon {
    list-style: none;
    text-align: center;
    /* flex-direction: row; */
}

.icon-box {
    display: inline-block;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow 0.25s;
    /* padding: 10px 15px; */
    margin: 20px 11px;
    /* gap: 50px; */
}

.icon-box:hover {
    background-color: white;
    box-shadow: 0 0 5px blue, 0 0 25px blue, 0 0 50px blue, 0 0 100px blue, 0 0 200px blue;

}


@media(max-width:600px) {
    .sidebar {
        width: 100%;
    }

    .icon {
        margin-right: 50px;
    }

    .home-text span {

        font-size: 35px;
    }

    .portfolioLogo-img {
        margin-top: 15px;
        margin-left: -50px;
    }
}

@media screen and (max-width: 730px) {
    .portfolioLogo-img img {
        /* background-color: blue; */
        margin-left: -50px;
    }

}

@media screen and (max-width: 992px) {
    .hideOnMobile {
        display: none;
    }

    .iconImg {
        height: 50px;
    }

}

@media screen and (max-width: 1030px) {
    .icon {
        margin-left: 30px;
    }

    .home-text span {

        font-size: 50px;
    }

    .portfolioLogo-img {
        margin-top: 20px;
        margin-left: 5px;
    }

}

@media (min-width: 1200px) {
    .home-text span {
        font-weight: 999;
        font-size: 55px;
    }
    .portfolioLogo-img img{
        margin-left: 100px;
        margin-top: 20px;
    }
}